body { 
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
}

.container{
    display: flex;
    width: 700px;
    justify-content: center;
}

header .container { 
    flex-direction: column;
    border-radius: 0px 0px 100px 100px;
    background-color: #e23d37;
    padding-bottom: 20px;
    align-items: center;
    align-self: center;
}

header {
    display: flex;
    flex-direction: column;
    
}

nav { 
    font-size: 25px;
    margin-top: 20px;
    width: 500px;
}

nav ul{ 
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: #000 ;
}

nav a:hover {
    color: #fff;
    font-weight: bold;
}

#banner { 
    display: flex;
    justify-content: center;
}

#banner img {
    width: 640px;
}

.polaroid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    border-radius: 30px;
    background-color: #e23d37;
    padding: 30px 30px 30px 30px;
}

.polaroid_desc {
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 30px;
}


#conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre article{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    background-color: #e23d37;
    
    border-radius: 30px;
}

.titulo{
    font-size: 50px;
    margin-top: 50px;
    text-decoration: underline;
    color: #fff;
}



.texto_sobre p {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;    
}

#discografia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#dicografia .titulo{
    color: #fff;
}

.discos {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    
}

.discos a {
    text-decoration: none;
    color: white;
}


.disco{ 
    width: 330px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #e23d37;
    border-radius: 20px;
    margin: 10px;
    
}

.disco img {
    width: 250px;
}

#ouvir { 
    width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spotify {
    width: 680px;
    margin-bottom: 50px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130px;
    background-color: #282828;
    padding-bottom: 20px;
}

.linha { 
    height: 2px;
    width: 100%;
    background-color: #999;
}

footer .container{ 
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
}

.footer_texto {
    color: #fff;
}

.icons {
    display: flex;
    width: 230px;
    justify-content: space-between;
    margin-top: 10px;
}

.icons img { 
    width: 50px;
}



