body { 
    margin: 0;
    padding: 0;
    background-color: rgb(10, 10, 10);
    padding-bottom: 30px;
}

.container{
    display: flex;
    width: 700px;
    justify-content: center;
}

header .container { 
    flex-direction: column;
    border-radius: 0px 0px 100px 100px;
    background-color: #e23d37;
    padding-bottom: 20px;
    align-items: center;
    align-self: center;
}

header {
    display: flex;
    flex-direction: column;
    
}

nav { 
    font-size: 25px;
    margin-top: 20px;
    width: 500px;
}

nav ul{ 
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: black ;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

#banner { 
    display: flex;
    justify-content: center;
}

#banner img {
    width: 700px;
}

.polaroid {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 30px;
    border-radius: 30px;
    background-color: #e23d37;
    padding: 30px 30px 30px 30px;
}

.polaroid_desc {
    margin-top: 30px;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 30px;
}


#conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre { 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre article{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    background-color: #e23d37;
    margin-top: 50px;
    border-radius: 30px;
}

.titulo{
    font-size: 50px;
    margin-top: 20px;
    text-decoration: underline;
    color: #fff;
}

#sobre .titulo{
    color: black;
}

.texto_sobre p {
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;    
}

#discografia {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#dicografia .titulo{
    color: #fff;
}

.discos {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

}


.disco{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e23d37;
    padding: 30px;
    border-radius: 20px;
    margin: 10px;
}

.disco img {
    width: 220px;
}

 


